<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="capstone.project.easycook">

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="capstone.project.easycook.view.DebugActivity"/>
        <activity android:name="capstone.project.easycook.view.CookRecipeActivity" />
        <activity android:name="capstone.project.easycook.view.RecipeActivity" />
        <activity android:name="capstone.project.easycook.view.createrecipe.CreateRecipeActivity" />
        <activity android:name="capstone.project.easycook.view.SelectCategoryActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="capstone.project.easycook.view.RecipeListActivity" />

        <service android:name=".services.RecipeService">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED"/>
                <data android:scheme="wear" android:host="*" android:path="/recipes"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED"/>
                <data android:scheme="wear" android:host="*" android:path="/steps"/>
            </intent-filter>
        </service>
    </application>

</manifest>